
{% extends 'layout.html' %}

{% block content %}
<div class="responsive" style="margin-right:-75%;margin-left:-15%;margin-top: 1%">
 <br><br>
<br>
<h2 style="color:#262323;margin-left:5%;text-transform:uppercase;font-style:bold;">Overview</h2>
<p style="color:black;font-weight:bold; text-indent:50px;text-align:justify;letter-spacing:3px; line-height: 1.5;margin-left:5%;margin-right:30%;font-family:'Bree Serif'">Energizing Lives,one of the single digit indian representative in the Fortune 500
 & Forbes 2000 listning,BPCL is often refered to afont-family:s an "MNC in PSU garb ",
An ardent pursuer of qualitive excellence and a poineer in marketing initiatives,
employs the "Best in Class" practices, for maximization of customer satisfaction.
With a turnover of USD 27 billion and the net worth of over USD 2 billion, it is an
Oil Gaint in India.It markets the full range of Petroleum products (throughput of 24
million tonnes during 2006-07) and has an all-India presence through 2 refineries,
133 Oil istallation & depots and 48 LP Gas bottling plants.It's extensive marketting 
network comprises of around 7,400 retail outlets ,over 2105 LPG distributors & 1000
SKO/LDO dealers.0ver the years,Bharat Petroleum meeting the challenges of the rapidly
changing environment ,has led the changes in the marketting of products and services.
In all these changes ,only one factors has remained constants and has been the source 
of Bharat Petroleum's strength and inspirations for any future innovation-Bharat Petroleum's People.Bharat Petroleum has always been on the forefront of the harnessing
technology initiatives for maximizing efficiency and achieving greater customer satisfaction. Bharat Petroleum-constantly providing value to skate holders! 
Bharatgas from Bharat Petroleum has dominated</p>

</div>
{% endblock content %}
