{% extends 'admin.html' %}

{% block admin_ac %}
<div id="page-content-wrapper" style="margin-left:-100px;margin-right:-200px;width: 100%">
<form method="POST" action="" >
            {{ form.hidden_tag() }}
         <fieldset class="form-group col-md-10">
          <legend class="border-bottom mb-4 ">{{ legend }}</legend>
                 <div class="form-group">
                    {{ form.state.label(class="form-control-label") }}

                    {% if form.state.errors %}
                        {{ form.state(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.state.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.state(class="form-control form-control-sm") }}
                    {% endif %}
                </div>
                 <div class="form-group">
                    {{ form.district.label(class="form-control-label") }}

                    {% if form.district.errors %}
                        {{ form.district(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.district.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.district(class="form-control form-control-sm") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.city.label(class="form-control-label") }}

                    {% if form.city.errors %}
                        {{ form.city(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.city.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.city(class="form-control form-control-sm") }}
                    {% endif %}
                </div>
                </fieldset>
                 <div class="form-group">
               {{ form.submit(class="btn btn-outline-info btn-sm") }} 
            </div>
            </form>
        </div>
  <table class="table table-bordered" style="margin-left:300px;margin-top:-390px;">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Sno</th>
      <th scope="col">city Name</th>
      <th scope="col">district Name</th>
      <th scope="col"></th>
      <th scope="col"></th>
 </tr>
  </thead>
  <tbody>
  {% for d in dt %}
  {% with s=dist.query.filter_by(did=d.did).first() %}
 <tr>
      <th scope="row">{{ loop.index }}</th>
      <td>{{  d.cname }}</td>
      <td>{{  s.dname }}</td>
      <td><a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{url_for('Admin.update_city',cid=d.cid,d=s.did) }}">edit</a></td>
      <td><a class="btn btn-danger btn-sm mt-1 mb-1" href="{{ url_for('Admin.delete_city', cid=d.cid) }}">Delete</a></td>
    </tr>
    {% endwith %}
   {% endfor %}
</tbody>
</table>
<script>
        var state_select = document.getElementById("state");
        var dist_select = document.getElementById("district");
        state_select.onchange = function()  {
             
            st = state_select.value;
            
            fetch('/district/' + st).then(function(response) {
                response.json().then(function(data) {
                    var optionHTML = '';
                    for (var district of data.dist) {
                        optionHTML += '<option value="' + district.id + '">' + district.name + '</option>';
                    }
                    dist_select.innerHTML = optionHTML;
                })
                
            });
        }
    </script>
{% endblock admin_ac %}