{% extends 'layout.html' %}

{% block content %}
<div class="contact" style="margin-left:-15%;margin-right:-64%">
<br> <br><br><br><br>
<div class="container" style="margin-left:100px">
 <div class="card-columns" > 
  <div class="card" style="width:230px;height:311px;">
    <img class="card-img-top" src="{{ complaint }}" alt="Card image" style="width:100%;height:200px;">
     <div class="hoveredit">
    <div class="card-body">
      <a href="Complaint" class="trr"> <h4 class="card-title">Distributor Complaint</h4></a>
    </div>
</div>
  </div>
  <div class="card" style="width:230px;height:311px" >
    <img class="card-img-top" src="{{ contact }}" alt="Card image" style="width:100%;height:200px;">
      <div class="hoveredit">
    <div class="card-body">
      <a href="Agent_contact" class="trr"> <h4 class="card-title">Contact Distributor</h4></a>
    </div>
  </div>
  </div>
  <div class="card" style="width:230px;height:311px">
    <img class="card-img-top" src="{{ feedback }}" alt="Card image" style="width:100%;height:200px;">
     <div class="hoveredit">
    <div class="card-body">
      <a href="MFeedBack" class="trr"> <h4 class="card-title">Website feedback</h4></a>
    </div>
</div>
  </div>
</div>
</div>
<br><br><br><br>
</div>
{% endblock content %}