{% extends 'admin.html' %}

{% block admin_ac %}
<div id="page-content-wrapper" style="margin-left:-100px;margin-right:-200px;width: 100%">
<form method="POST" action="" >
            {{ form.hidden_tag() }}
         <fieldset class="form-group col-md-10">
          <legend class="border-bottom mb-4 ">{{ legend }}</legend>
                 <div class="form-group">
                    {{ form.st_name.label(class="form-control-label") }}

                    {% if form.st_name.errors %}
                        {{ form.st_name(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.st_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.st_name(class="form-control form-control-sm") }}
                    {% endif %}
                </div>
                 <div class="form-group">
                    {{ form.district.label(class="form-control-label") }}

                    {% if form.district.errors %}
                        {{ form.district(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.district.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.district(class="form-control form-control-sm") }}
                    {% endif %}
                </div>
                </fieldset>
                 <div class="form-group">
               {{ form.submit(class="btn btn-outline-info btn-sm") }} 
            </div>
            </form>
        </div>
  <table class="table table-bordered" style="margin-left:300px;margin-top:-300px;">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Sno</th>
      <th scope="col">state Name</th>
      <th scope="col">district Name</th>
      <th scope="col"></th>
      <th scope="col"></th>
 </tr>
  </thead>
  <tbody>
  {% for d in dt %}
  {% with s=state.query.filter_by(id=d.sid).first() %}
 <tr>
      <th scope="row">{{ loop.index }}</th>
      <td>{{  s.state_name }}</td>
      <td>{{  d.dname }}</td>
      <td><a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('Admin.update_dist', did=d.did) }}">edit</a></td>
      <td><a class="btn btn-danger btn-sm mt-1 mb-1" href="{{ url_for('Admin.delete_dist', did=d.did) }}">Delete</a></td>
    </tr>
    {% endwith %}
   {% endfor %}
</tbody>
</table>
{% endblock admin_ac %}