{% extends 'layout.html' %}

{% block content %}
<div class='bg' style="margin-right:-110%;margin-left: -58%">
<br><br><br>
<div id="page-content-wrapper" style="margin-left:400px;width:60% ">
<form method="POST" action="" >
            {{ form.hidden_tag() }}
         <fieldset class="form-group col-md-7">
          <legend class="border-bottom mb-4 ">Know Gas Cylinder Status</legend>
                 <div class="form-group">
                    {{ form.state.label(class="form-control-label") }}

                    {% if form.state.errors %}
                        {{ form.state(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.state.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.state(class="form-control form-control-sm") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.district.label(class="form-control-label") }}

                    {% if form.district.erdnamerors %}
                        {{ form.district(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.district.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.district(class="form-control form-control-sm") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.agency_name.label(class="form-control-label") }}

                    {% if form.agency_name.erdnamerors %}
                        {{ form.agency_name(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.agency_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.agency_name(class="form-control form-control-sm") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
               {{ form.submit(class="btn btn-outline-success btn-sm") }} 
            </div>
            </form>
        </div>
    {% if age %}
   <table class="table" style="margin-left:400px;width: 60%">
  <thead class="thead-dark">
    <tr>
      <th scope="col">sno</th>
      <th scope="col">Agency Name</th>
      <th scope="col">Total Cylinder</th>
      <th scope="col">Available Cylinder</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>{{  age.agency_name }}</td>
      <td>{{ cily.total_cylinder }}</td>
      <td>{{ cily.availabel_cylinder }}</td>
      <td>{{ cily.status }}</td>
    </tr>
</tbody>
</table>
{% endif %}
<script>
        var state_select = document.getElementById("state");
        var dist_select = document.getElementById("district");
        var age_select = document.getElementById("agency_name");
        state_select.onchange = function()  {
             
            st = state_select.value;
            
            fetch('/district/' + st).then(function(response) {
                response.json().then(function(data) {
                    var optionHTML = '';
                    for (var district of data.dist) {
                        optionHTML += '<option value="' + district.id + '">' + district.name + '</option>';
                    }
                    dist_select.innerHTML = optionHTML;
                })
                
            });
        }
       dist_select.onchange = function()  {
             
            di = dist_select.value;

          fetch('/agency_name/' + di).then(function(response) {
                response.json().then(function(data) {
                    var optionHTML = '';
                    for (var agency_name of data.agents) {
                        optionHTML += '<option value="' + agency_name.id + '">' + agency_name.name + '</option>';
                    }
                    age_select.innerHTML = optionHTML;
                })
                
            });
        }

    </script>
  </div>
{% endblock content %}